<div class='weather-week__container'>
    <div [ngClass]="selectedDay === i ? 'weather-week__active': 'weather-week__day'" 
         *ngFor='let weatherStatus of weeklyStatusList; let i = index' (click)='onClickWeatherDay(i)'>
        <div class='weather-week__details'>
            <strong>{{ weatherStatus?.day }}</strong>
        </div>
        <div class='weather-week__details'>
            <strong>{{ weatherStatus?.max }}&#176;</strong>&nbsp;{{ weatherStatus?.min }}&#176;
        </div>
        <div class='weather-week__details'>
            <img [src]='weatherStatus.icon' class='weather-week__icon' />
        </div>
        <div class='weather-week__details'>{{ weatherStatus?.weather }}</div>
    </div>
</div>