<main class='weather-main__container'>

  <ngx-spinner [type]="typeSelected">
    <p class='weather-main__loading'> Loading... </p>
  </ngx-spinner>

  <!-- Component allowing to search as well as show data there itself -->
  <app-searchbar (updateCurrentCityDetails)='getMoreDetails($event)'>
  </app-searchbar>

  <!-- Component showing weeks minimum and maximum temp with icons -->
  <app-weekly-status [weeklyData]='weeklyData' (updateSelectedDay)='onUpdateDayData($event)'>
  </app-weekly-status>

  <!-- Component showing humidity, pressure, graphs etc. -->
  <app-detailed-daily-status [currentData]='currentData' [seriesData]='updatedSeriesData'>
  </app-detailed-daily-status>

</main>